@charset "utf-8";
/* CSS Document */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #63ed35;
	margin:0;
	}
#contenedor {
    background-color: #a2f986;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    }
/*Header*/
header {
    height: 200px;
    background: url(imagenes/perjil24.jpeg);
}
.logo {
    display: inline-block;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}
h1 {
    display: inline-block;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px black;
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
}
#botoprincipal {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #32a852;
}
#botoprincipal ul li {
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}
.btns {
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border-radius: 30%;
}
.btns:hover {
    background-color: #84f7a2;
    font-weight: bold;
    border-radius: 0%;
}
/*section*/
section {
    height: 300px;
    background: linear-gradient(to top, white, #32a852);
}
#descripcionProd {
    width: 100px;
    height: 100px;
    background-color: aqua;
}
#imgProd {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

/*footer*/
footer {
    height: 80px;
    background-color: white; 
}
#redeso {
    display: block;
    float: right;
    width: 320px;
    margin-top: 10px;
}
footer img {
    width: 50px;
    margin-left: 20px;
}
#logofooter {
    float: right;
    margin-top: 10px;
}
#pinherit {
    display: inherit;
}